@model TrabalhoGB.Dominio.Campanha

@{
    ViewBag.Title = "Edição de Campanha";
    Layout = "~/Views/Shared/_LayoutPadrao.cshtml";
}

@section JSDocumentReady {
    $("#m-cad").addClass("active");
    $("#m-cad-camp").addClass("active");

    ComboAfinidade($("#CodigoAfinidade"));

    $("#btnSalvar").click(function() {
        SalvaCampanha();
    });

    $("#CodigoAfinidade").val("@Model.CodigoAfinidade");
}

<div id="content" class="content">
    <ol class="breadcrumb pull-right">
        <li><a href="@Url.Content("~/")">Dashboard</a></li>
        <li><a href="@Url.Content("~/Campanha")">Campanhas</a></li>
        <li>@ViewBag.Title</li>
    </ol>

    <h1 class="page-header">@ViewBag.Title <small>Edição</small></h1>

    <div class="profile-container">
        <form class="form-actions" id="form" data-parsley-validate>
            <input type="hidden" name="CodigoCampanha" id="CodigoCampanha" value="@Model.CodigoCampanha" />
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="nome" class="control-label col-md-2">Nome</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control input-lg" id="Nome" name="Nome" placeholder="Nome da Campanha" maxlength="100" required value="@Model.Nome">
                    </div>
                </div>

                <div class="form-group">
                    <label for="descricao" class="control-label col-md-2">Descrição</label>
                    <div class="col-md-6">
                        <textarea class="form-control input-lg" id="Descricao" name="Descricao" placeholder="Descrição" maxlength="1000" rows="5" required>@Model.Descricao</textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label for="afinidade" class="control-label col-md-2">Afinidade</label>
                    <div class="col-md-6">
                        <select name="CodigoAfinidade" id="CodigoAfinidade" class="form-control input-lg"></select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="DataInicio" class="control-label col-md-2">Início</label>
                    <div class="col-md-2">
                        <input type="text" name="DataInicio" id="DataInicio" class="form-control input-lg" value="@Model.DataInicio.ToString("dd/MM/yyyy")" />
                    </div>

                    <label for="DataTermino" class="control-label col-md-2">Término</label>
                    <div class="col-md-2">
                        <input type="text" name="DataTermino" id="DataTermino" class="form-control input-lg" value="@Model.DataTermino.ToString("dd/MM/yyyy")" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-6">
                        <input type="button" value="Salvar" class="btn btn-primary" id="btnSalvar" />
                        <input type="button" value="Cancelar" class="btn btn-default" id="btnCancelar" onclick="history.back();" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>